<div id="current_bench_status">
  <strong>Current Bench Status</strong>
  <div>
    <%= link_to edit_user_path(user), remote: true do %>
      <% if user.bench_status == "on_bench" %>
        On Bench
      <% else %>
        Off Bench
      <% end %>
    <% end %>
  </div>
</div>