<div id="current_bench_status">
  <strong>Current Bench Status</strong>
  <div>
    <%= link_to edit_user_path(user), remote: true do %>
      <%= user.bench_status %></p>
    <% end %>
  </div>
</div>