<div class="row justify-content-between">
  <div class="col-md-4">
    <h1>Status Reports</h1>
  </div>
  <div class="col-md-3 align-self-center">
    <%= render "users/bench_status", user: current_user %>
  </div>
</div>

<hr>

<div class="container">
  <% current_user.reports.each do |report| %>
    <% if report.period.current? %>
      <%= render report %>
    <% end %>
  <% end %>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      User
    </div>
    <div class="col-md-3">
      Period Start Date
    </div>
    <div class="col-md-3">
      Period End Date
    </div>
  </div>

  <% current_user.reports.each do |report| %>
    <%= render "reports/report_row", report: report %>
  <% end %>
</div>

<br>